body {
    background-color: rgba(95, 158, 160, 0.606);
    margin: 30px; /* Adjusted to remove top and bottom margin separately */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
}

#main {
    width: 50%; 
    margin: 0 auto; 
}

#styled-image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border: 3px solid #454343;
    border-radius: 10px;
  }
  
  #img-div {
    background: white;
    padding: 70px;
    margin: 70px;
    border-radius: 10px;
  }

  footer {
    background-color: #2C3E50; /* Darker background color for contrast */
    color: white; /* White text color for readability */
    padding: 20px; /* Add some padding */
    position: relative; /* Positioning context */
    margin-top: 40px; /* Increased margin from the main content */
    border-top: 3px solid #454343; /* Top border for separation */
}

#tribute-link {
    color: #ECF0F1; /* Lighter link color */
    text-decoration: none; /* Remove underline from the link */
    font-size: 1.2em; /* Slightly larger font size */
}

#tribute-link:hover {
    color: #F39C12; /* Change color on hover */
    text-decoration: underline; /* Underline the link on hover */
}